* {
  margin: 0;
  padding: 0;
}

.customSize {
  height: 300px;
}

body {
  margin-top: 100px;
}

h2.flagged {
  color: red;
}

.categorypage {
  background-color: lightsalmon !important;
}

.card {
  width: 12rem;
}

.messages {
  height: 60%;
  overflow: scroll;
}
.comments {
  margin-left: 20px;
}

.google-map {
  border: 0.5px solid black;
}
.margin-bottom {
  margin-bottom: 10px;
}
