* {
  margin: 0;
  padding: 0;
}

.col-md-3 {
  border: 2px solid black;
}

h2.flagged {
  color: red;
}

* {
  margin: 0;
  border: 1px dotted pink;
  padding: 0;
}

.customSize {
  height: 300px;
}

body {
  margin-top: 100px;
}

h2.flagged {
  color: red;
}