<!DOCTYPE html>
<html lang="en">


{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Meet Market</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style_reg.css' %}" />
</head>

<body>
  <div class="container">
    {% if request.session.log_email %}
    <nav class="navbar navbar-expand-md justify-content-between navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="{% url 'login:my_successful_log_in' %}">MeetMarket</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            {% if this_user.admin == True %}
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'login:my_admin_controls' %}">Admin Controls<span
                class="sr-only">(current)</span></a>
          </li>
          {% endif %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'item:my_all_listings' %}">All Item Listings<span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'item:my_all_categories' %}">All Categories<span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#newitem">New
              Listing<span class="sr-only">(current)</span></a>
          </li>

          
          <li class=" nav-item active">
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'login:my_log_out' %}">Log Out</a>
          </li>
        </ul>

        <form class=" form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    {% else %}
    <!-- SIGN IN FORM HERE -->
    <form action="{% url 'login:my_log_in' %}" method="POST">
      {% csrf_token %}
      <input class="form-group" type="email" class="form-control" placeholder="Email Address" name="log_email" />
      <input class="form-group" type="password" class="form-control" placeholder="Password" name="log_pw" />
      <button type="submit" class="btn btn-lg btn-outline-success">Sign In</button>
      <a class="btn btn-lg btn-outline-secondary" href="#" data-toggle="modal" data-target="#register"
      role="button">Register</a>
    </form>
    
  </div>
</nav>
{% endif %}
<!-- MODAL FOR NEW ITEM -->
<div class="modal fade bd-example-modal-lg" id="newitem" tabindex="-1" role="dialog"
  aria-labelledby="newitemTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newitemLongTitle">New Listing</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row mx-auto">
        <form action="{% url 'item:my_create_item' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="name">Name of Listing:</label>
            <input type="text" class="form-control" name="name" />
            <label for="price">Price:</label>
            <input type="number" step="0.01" class="form-control" name="price" />
            <label for="description">Description:</label>
            <textarea name="description" class="form-control"></textarea>
            <label for="condition">Condition:</label>
            <select name="condition" class="custom-select mr-sm-2">
              <option value="Brand New" disabled selected hidden>Choose One</option>
              <option value="Mint">Mint</option>
              <option value="New w/Tags">New w/Tags</option>
              <option value="New w/o Tags">New w/o Tags</option>
              <option value="Great">Great</option>
              <option value="Fair">Fair</option>
              <option value="Used">Used</option>
            </select>
            <label for="location">Location:</label>
            <input type="text" class="form-control" name="location"
              placeholder="Current location of the item" />
            <label for="category">Category:</label>
            <select name="category" class="custom-select mr-sm-2">
              <option value="" disabled selected hidden>Choose One</option>
              {% for category in all_categories %}
              <option value="{{category.name}}">{{category.name}}</option>
              {% endfor %}
            </select><br />
            <br />
            <label for="images">Upload Image:</label>
            <input type="file" name="images" />
            <button type="submit" class="btn btn-outline-primary btn-block">Create</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL FOR NEW ITEM -->
<div class="content container">
  {% block content %}
  {% endblock %}
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>
  <script src="js/script.js"></script>
</body>

</html>