{% extends 'base.html' %} {% block content %}

<main role="main">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4" style="padding: 20px; margin-top: 20px">
      Welcome {{user_first_name}}!
    </h1>
    <p class="lead">
      Feel free to browse or click above to add your own listing!
    </p>
  </div>
  <hr />
</main>

<div class="row">
  <div class="col-md-12">
    <p class="lead">Recently added to categories:</p>
  </div>
</div>

<div class="row">
  {% for category in category_hash %} {% if category.id == categories.0.id %}
  <div class="col-md-4 form-group">
    <h4 class="form-control">
      <a href="{% url 'item:my_category_page' categories.0.id %}"
        >{{categories.0.name}}</a
      >
    </h4>

    {% for item in category.items.all %}
    <p>IDX: {{ item.name }}</p>
    {% endif %} {% endfor %} {% endfor %}
  </div>
</div>
{% endblock %}
