{% extends 'base.html' %} {% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">
    All Categories
  </h1>
</div>
<hr />

<div class="container">
  <div class="row">
    {% for category in all_categories %}
    <div class="card" style="width: 12rem;">
      <div class="card-body text-center categorypage">
        <a href="{% url 'item:my_category_page' category.id %}" class="card-link">{{category.name}}</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}